<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ink.poesy.my.mapper.UserMapper">

    <select id="userLogin" resultType="ink.poesy.my.pojo.User">
        SELECT * FROM user where userName = #{userName} and userPassword = #{userPassword}  limit 0,1
    </select>
</mapper>