@media screen and  (min-width: 1024px){
    header{
        height: 50px;
        width: 100%;
        z-index: 1;
        float: left;
    }
    header:hover{
        background-color: #E5DAD6;
        cursor:pointer;
    }
    /****************************************隐藏日期栏*****************************************/
    .monthScenery{
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 20;
    }

    .select{width:80px;height:25px;line-height:25px;border:1px #d8d8d8 solid;cursor: default;}
    .select-text{text-align: center;}
    .select-text:hover{box-shadow: 1px 1px 0 0 #d8d8d8 inset;}
    .select div.current{box-shadow: 1px 1px 0 0 #d8d8d8 inset;}
    .month{border-left:none;border-right:none;}
    .select-list{left:-1px;top:25px;width: 80px;max-height:360px;background: #fff;border:1px #d8d8d8 solid;overflow: auto;}
    .select-list li{height: 30px;line-height: 30px;text-indent: 10px;cursor: pointer;}
    .select-list li.selected{background: #d8d8d8;}
    .select-list li.on{background: #d8d8d8;}
    .select-prev,.select-next{width:25px;height: 25px;margin-left:10px;line-height: 25px;text-align: center;border:1px #d8d8d8 solid;cursor: pointer;}
    .select-next{margin:0;}
    .select-today{width:80px;height: 25px;margin-left:10px;line-height: 25px;text-align: center;border:1px #d8d8d8 solid;cursor: pointer;}
    .select-prev:hover,.select-next:hover,.select-today:hover{border:1px #57abff solid;}
    .select-prev:active,.select-next:active,.select-today:active{background: #f0f0f0;box-shadow: 1px 1px 1px #c7c7c7 inset;}
    .time{height: 25px;margin-left:10px;line-height: 25px;}
    .title{height:35px;font-size: 16px;margin-top:10px;border-top:1px #57abff solid;}
    .title li{float:left;width:55px;height:35px;line-height: 35px;text-align: center;}
    .table li{float:left;width:55px;height:55px;border-bottom: 1px #c8cacc solid;font-size: 18px;cursor: pointer;}
    .table li span{display: block;width:51px;height:51px;line-height: 51px;text-align: center;border:2px #fff solid;}
    .table li span.on{border:2px #fb0 solid;}
    .table li span.today{background: #fb0;border:2px #fb0 solid;color:#fff;}
    ul{list-style: none;}
    a{text-decoration: none;color:#333;}
    img{border:none;}
    .fl{float:left;_display:inline;}
    .fr{float:right;_display:inline;}
    .pr{position: relative;}
    .pa{position: absolute;}
    .none{display: none;}
    .dayTable{
        width: 90%;
        height: 80%;
        margin:100px auto;
    }
    .dayTable thead{
        vertical-align:bottom;
    }
    .dayTable td, .dayTable th
    {
        border:1px solid #98bf21;
        padding:1px;
    }
    .everyDayTable{
        width: 10%;
        height: 80px;
        text-align: center;
    }
    .LineFore{

    }

    .everyDayTable > ul > li{
        z-index: 1;
        width: 100%;
        height: 5px;
        float: left;
        position: relative;
    }
    .dayTable >  tbody >  tr > td > div{
        position: relative;
        z-index: 1;
        width: 100%;
        height: 50px;
        background-color: #9ddfe9;
        float: left;
    }
    .dayTable >  tbody >  tr > td > ul > .chi{background-color: red;}
    .dayTable >  tbody >  tr > td > ul > .cheng{background-color: orange}
    .dayTable >  tbody >  tr > td > ul > .huang{background-color: yellow}
    .dayTable >  tbody >  tr > td > ul > .lu{background-color: green}
    .dayTable >  tbody >  tr > td > ul > .qing{background: #00aaaa}
    .dayTable >  tbody >  tr > td > ul > .lan{background-color: blue}
    .dayTable >  tbody >  tr > td > ul > .zi{background-color: purple}
    /****************************************右边栏*****************************************/
    .bodyRight{
        position: fixed;
        top: 50px;
        left: 80%;
        width: 20%;
        height: 602px;
        background-color: #EEEBE6;
        z-index: 10;
    }

    /*****头像*****/
    .userHeadImage{
        position: absolute;
        left: 90px;
        top:-50px;
        width: 100px;
        height: 100px;
        text-align: center;
    }
    .userHeadImage:hover{
        cursor:pointer;
    }
    /*****用户设置*****/
    .loginInfoMenu{
        position: absolute;
        left: 0px;
        top: -50px;
        width: 90px;
        height: 130px;
        display: none;
        background-color: #3C3C3C;
    }
    .loginInfoMenu > p > img{
        position: relative;
        top:2px;
    }
    .loginInfoMenu > p{
        cursor:pointer;
        color: #FFFFFF;
        width: 90%;
        margin: 5px auto;
        border-radius:2px;
        font-size: 16px;
        line-height: 1.3;
    }

    .on1:hover{background-color: #449D44;}
    .on2:hover{background-color: #D1BB44;}
    .on3:hover{background-color: #EC971F;}
    .on4:hover{background-color: #C9302C;}


    /**************************菜单选择******************/
    .bodyRight > .RightUl{
        width: 90%;
        margin: 80px auto 0px auto;
        font-size: 16px;
        text-align: center;
        background-color: #FFFFFF;
        border-radius:5px;
    }

    .bodyRight > .RightUl > li{
        padding: 5px;
        border-bottom: 1px solid #009A61;
    }
    .bodyRight > .RightUl > li:hover{
        opacity:0.4;
        cursor:pointer;
    }

    /************日记列表***********/
    .noteListUl{
        width: 90%;
        margin: 10px auto 0px auto;
        font-size: 16px;
        text-align: center;
        background-color: #FFFFFF;
        border-radius:5px;
    }
    .noteList{
        padding: 5px;
        border-bottom: 1px solid #009A61;
    }
    .noteList:hover{
        opacity:0.4;
        cursor:pointer;
    }

    /*********便签图片和文字************/
    .memoImage{
        position: absolute;
        bottom: -40px;
        margin:50px auto;
        width: 100%;
        height: 200px;
        background-image: url("../pic/memoImage.png");
        background-size: cover;
        z-index: 10;
    }
    .memoImage > .memoText{
        position: relative;
        top: 90px;
        left: 50px;
        width: 60%;
    }
}
@media screen and (max-width:1024px){}
@media screen and (max-width:960px){}
@media screen and (max-width:830px){}
@media screen and (max-width:750px){}
@media screen and (max-width:640px){}
@media screen and (max-width:414px){}
@media screen and (max-width:375px){}
@media screen and (max-width:320px){}
