<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>index</title>

		<!-- css include -->
		<link rel="stylesheet" type="text/css" href="css/materialize.css">
		<link rel="stylesheet" type="text/css" href="css/icofont.css">
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
		<link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">

		<!-- my css include -->
		<link rel="stylesheet" type="text/css" href="css/custom-menu.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/responsive.css">

	</head>


	<body>
		<div th:replace="~{blogs/blogsfar::#header-section}"></div>

		<div class="thetop"></div>
		<!-- for back to top -->

		<div class='backToTop'>
			<a href="#" class='scroll'>
				<span class="go-up">
					<i class="icofont icofont-long-arrow-up"></i>
				</span>
			</a>
		</div>
		<!-- backToTop -->






		<!-- ==================== blog-slider-section start ==================== -->
		<section id="blog-slider-section" class="blog-slider-section w100dt mb-50">
			<div class="container">

				<div class="slider">
					<ul class="slides">
						<li class="slider-item">
							<img src="img/w20190925081655.jpg" alt="Image">
							<div class="caption center-align">
								<a href="#" class="tag l-blue w100dt mb-30">关于旅行</a>
								<h1 class="card-title mb-10">
									纳兰容若 《送荪友》
								</h1>
								<p>
									人生何如不相识，君老江南我燕北。
									何如相逢不相合，更无别恨横胸臆。
									留君不住我心苦，横门骊歌泪如雨。
									君行四月草萋萋，柳花桃花半委泥。
									江流浩淼江月堕，此时君亦应思我。
									我今落拓何所止，一事无成已如此。
									平生纵有英雄血，无由一溅荆江水。

								</p>
								<a href="single-blog.html" class="custom-btn waves-effect waves-light">READ MORE</a>
							</div>
						</li>
						<li class="slider-item">
							<img src="images/15.jpg" alt="Image">
							<div class="caption left-align">
								<a href="#" class="tag l-blue w100dt mb-30">关于工作</a>
								<h1 class="card-title mb-10">
									眼中要有光，活成自己想要的模样
								</h1>
								<p>
									愿你活成自己想成为的模样。不必取悦任何人也不无故讨厌某个人。你总是偷偷在意其他人的看法眼光，
									为此我十分苦恼。希望你明白，无所谓的东西不用放在心里，他或她的言论权当呼啸而过的耳旁风罢。
								</p>
								<a href="single-blog.html" class="custom-btn waves-effect waves-light">READ MORE</a>
							</div>
						</li>
						<li class="slider-item">
							<img src="images/04.jpg" alt="Image">
							<div class="caption right-align">
								<a href="#" class="tag l-blue w100dt mb-30">关于生活</a>
								<h1 class="card-title mb-10">
									不负如来不负卿
								</h1>
								<p>
									曾虑多情损梵行，入山又恐别倾城，
									世间安得两全法，不负如来不负卿。
								</p>
								<a href="single-blog.html" class="custom-btn waves-effect waves-light">READ MORE</a>
							</div>
						</li>
					</ul>
				</div>

			</div>
			<!-- container -->
		</section>
		<!-- /#blog-slider-section -->
		<!-- ==================== blog-slider-section end ==================== -->





		<!-- ==================== 最新文章滚动daily-lifestyle-section Start ==================== -->
		<section id="daily-lifestyle-section" class="daily-lifestyle-section mb-50">
			<div class="container">

				<div class="owl-carousel small-carousel owl-theme">

					<!--最新文章展示列表开始-->
					<div class="item" th:each="NEWLIST : ${NEWLISTS}">
						<div class="card horizontal">
							<div class="card-image">
								<img src="img/img1.jpg" alt="Image" th:src="${NEWLIST.img}">
								<span class="effect"></span>
							</div>
							<!-- /.card-image -->
							<div class="card-stacked">
								<div class="card-content">
									<a href="#" class="tag left l-blue mb-10" th:text="${NEWLIST.classifyName}">最新文章1</a>
									<a href="single-blog.html" class="sm-name" th:text="${NEWLIST.articleTitle}">Trud Exercitation EllaMcop Saboris</a>
								</div>
								<!-- /.card-content -->
								<div class="card-action">
									<p class="hero left">
										BY - <a href="#" class="l-blue" th:text="${NEWLIST.name}">SujonMaji</a>
									</p>
									<ul class="post-mate right">
										<li>
											<a href="#" class="m-0"><i class="icofont icofont-comment"></i> <span th:text="${NEWLIST.articleComment}"></span></a>
										</li>
									</ul>									<!-- /.post-mate -->
								</div>								<!-- /.card-action -->
							</div>							<!-- /.card-stacked -->
						</div>						<!-- /.card -->
					</div>					<!-- /.item -->
					<!--最新文章展示列表结束-->


					<div class="item">
						<div class="card horizontal">
							<div class="card-image">
								<img src="img/w20190925081655.jpg" alt="Image">
								<span class="effect"></span>
							</div>
							<!-- /.card-image -->
							<div class="card-stacked">
								<div class="card-content">
									<a href="#" class="tag left l-blue mb-10">最新文章3</a>
									<a href="single-blog.html" class="sm-name">Trud Exercitation EllaMcop Saboris</a>
								</div>
								<!-- /.card-content -->
								<div class="card-action">
									<p class="hero left">
										BY - <a href="#" class="l-blue">SujonMaji</a>
									</p>
									<ul class="post-mate right">
										<li>
											<a href="#" class="m-0"><i class="icofont icofont-comment"></i> 32</a>
										</li>
									</ul>									<!-- /.post-mate -->
								</div>								<!-- /.card-action -->
							</div>							<!-- /.card-stacked -->
						</div>						<!-- /.card -->
					</div>					<!-- /.item -->

					<div class="item">
						<div class="card horizontal">
							<div class="card-image">
								<img src="img/img1.jpg" alt="Image">
								<span class="effect"></span>
							</div>
							<!-- /.card-image -->
							<div class="card-stacked">
								<div class="card-content">
									<a href="#" class="tag left l-blue mb-10">最新文章4</a>
									<a href="single-blog.html" class="sm-name">Trud Exercitation EllaMcop Saboris</a>
								</div>
								<!-- /.card-content -->
								<div class="card-action">
									<p class="hero left">
										BY - <a href="#" class="l-blue">SujonMaji</a>
									</p>
									<ul class="post-mate right">
										<li>
											<a href="#" class="m-0"><i class="icofont icofont-comment"></i> 32</a>
										</li>
									</ul>									<!-- /.post-mate -->
								</div>								<!-- /.card-action -->
							</div>							<!-- /.card-stacked -->
						</div>						<!-- /.card -->
					</div>					<!-- /.item -->
				</div>				<!-- /.small-carousel -->
			</div>			<!-- container -->
		</section>
		<!-- /#daily-lifestyle-section -->
		<!-- ==================== 最新文章滚动结束daily-lifestyle-section End ==================== -->





		<!-- ==================== blog-section start ==================== -->
		<section id="blog-section" class="blog-section w100dt mb-50">
			<div class="container">
				<div class="row">

					<div class="col s12 m8 l8">


						<!--博客文章列表-->
						<div class="blogs mb-30" th:each="ARTICLE : ${ARTICLES}">
							<div class="card">
								<div class="card-image">
									<img src="img/blog4.jpg" alt="Image" th:src="${ARTICLE.articleImg}">
									<a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
										<i class="icofont icofont-camera-alt"></i>
									</a>
								</div>
								<!-- /.card-image -->
								<div class="card-content w100dt">
									<p>
										<a href="#" class="tag left w100dt l-blue mb-30" th:text="${ARTICLE.classifyName}">Living</a>
									</p>
									<a href="single-blog.html" class="card-title" th:text="${ARTICLE.articleTitle}">
										Labore Etdolore Magna Aliqua Utero Ratione
									</a>
									<p class="mb-30"  th:text="${ARTICLE.articleAbstract}">
										Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
									</p>
									<ul class="post-mate-time left">
										<li>
											<p class="hero left">
												By - <a href="#" class="l-blue" th:text="${ARTICLE.name}">SujonMaji</a>
											</p>
										</li>
										<li>
											<i class="icofont icofont-ui-calendar"></i> 5 February'17
										</li>
									</ul>

									<ul class="post-mate right">
										<li class="like">
											<a href="#">
												<i class="icofont icofont-heart-alt"></i> 55
											</a>
										</li>
										<li class="comment">
											<a href="#">
												<i class="icofont icofont-comment"></i> 32
											</a>
										</li>
									</ul>
								</div>
								<!-- /.card-content -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.blogs -->
						<!--博客文章列表结束-->





						<div class="blogs mb-30">
							<div class="card">
								<div class="card-image">
									<img src="img/selfie.jpg" alt="Image">
									<a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
										<i class="icofont icofont-camera-alt"></i>
									</a>
								</div>
								<!-- /.card-image -->
								<div class="card-content w100dt">
									<p>
										<a href="#" class="tag left w100dt l-blue mb-30">分类名</a>
									</p>
									<a href="single-blog.html" class="card-title">
										Labore Etdolore Magna Aliqua Utero Ratione
									</a>
									<p class="mb-30">
										Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
									</p>
									<ul class="post-mate-time left">
										<li>
											<p class="hero left">
												By - <a href="#" class="l-blue">SujonMaji</a>
											</p>
										</li>
										<li>
											<i class="icofont icofont-ui-calendar"></i> 5 February'17
										</li>
									</ul>

									<ul class="post-mate right">
										<li class="like">
											<a href="#">
												<i class="icofont icofont-heart-alt"></i> 55
											</a>
										</li>
										<li class="comment">
											<a href="#">
												<i class="icofont icofont-comment"></i> 32
											</a>
										</li>
									</ul>
								</div>
								<!-- /.card-content -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.blogs -->

						<div class="blogs mb-30">
							<div class="card">
								<div class="card-image">
									<img src="img/blog4.jpg" alt="Image">
									<a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
										<i class="icofont icofont-camera-alt"></i>
									</a>
								</div>
								<!-- /.card-image -->
								<div class="card-content w100dt">
									<p>
										<a href="#" class="tag left w100dt l-blue mb-30">Living</a>
									</p>
									<a href="single-blog.html" class="card-title">
										Labore Etdolore Magna Aliqua Utero Ratione
									</a>
									<p class="mb-30">
										Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
									</p>
									<ul class="post-mate-time left">
										<li>
											<p class="hero left">
												By - <a href="#" class="l-blue">SujonMaji</a>
											</p>
										</li>
										<li>
											<i class="icofont icofont-ui-calendar"></i> 5 February'17
										</li>
									</ul>

									<ul class="post-mate right">
										<li class="like">
											<a href="#">
												<i class="icofont icofont-heart-alt"></i> 55
											</a>
										</li>
										<li class="comment">
											<a href="#">
												<i class="icofont icofont-comment"></i> 32
											</a>
										</li>
									</ul>
								</div>								<!-- /.card-content -->
							</div>							<!-- /.card -->
						</div>
						<!-- /.blogs -->

						<div class="blogs mb-30">
							<div class="card">
								<div class="card-image">
									<img src="img/travel2.jpg" alt="Image">
									<a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
										<i class="icofont icofont-camera-alt"></i>
									</a>
								</div>
								<!-- /.card-image -->
								<div class="card-content w100dt">
									<p>
										<a href="#" class="tag left w100dt l-blue mb-30">Travel</a>
									</p>
									<a href="single-blog.html" class="card-title">
										Labore Etdolore Magna Aliqua Utero Ratione
									</a>
									<p class="mb-30">
										Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
									</p>
									<ul class="post-mate-time left">
										<li>
											<p class="hero left">
												By - <a href="#" class="l-blue">SujonMaji</a>
											</p>
										</li>
										<li>
											<i class="icofont icofont-ui-calendar"></i> 5 February'17
										</li>
									</ul>

									<ul class="post-mate right">
										<li class="like">
											<a href="#">
												<i class="icofont icofont-heart-alt"></i> 55
											</a>
										</li>
										<li class="comment">
											<a href="#">
												<i class="icofont icofont-comment"></i> 32
											</a>
										</li>
									</ul>
								</div>								<!-- /.card-content -->
							</div>							<!-- /.card -->
						</div>						<!-- /.blogs -->

						<div class="blogs mb-30">
							<div class="card">
								<div class="card-image">
									<img src="img/fashion2.jpg" alt="Image">
									<a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
										<i class="icofont icofont-camera-alt"></i>
									</a>
								</div>
								<!-- /.card-image -->
								<div class="card-content w100dt">
									<p>
										<a href="#" class="tag left w100dt l-blue mb-30">Fashion</a>
									</p>
									<a href="single-blog.html" class="card-title">
										Labore Etdolore Magna Aliqua Utero Ratione
									</a>
									<p class="mb-30">
										Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
									</p>
									<ul class="post-mate-time left">
										<li>
											<p class="hero left">
												By - <a href="#" class="l-blue">SujonMaji</a>
											</p>
										</li>
										<li>
											<i class="icofont icofont-ui-calendar"></i> 5 February'17
										</li>
									</ul>

									<ul class="post-mate right">
										<li class="like">
											<a href="#">
												<i class="icofont icofont-heart-alt"></i> 55
											</a>
										</li>
										<li class="comment">
											<a href="#">
												<i class="icofont icofont-comment"></i> 32
											</a>
										</li>
									</ul>
								</div>								<!-- /.card-content -->
							</div>							<!-- /.card -->
						</div>						<!-- /.blogs -->

						<ul class="pagination w100dt">
							<li class="waves-effect"><a href="#!"><i class="icofont icofont-simple-left"></i></a></li>
							<li class="active"><a href="#!">1</a></li>
							<li class="waves-effect"><a href="#!">2</a></li>
							<li class="waves-effect"><a href="#!">3</a></li>
							<li class="waves-effect"><a href="#!">4</a></li>
							<li class="waves-effect"><a href="#!">5</a></li>
							<li class="waves-effect"><a href="#!"><i class="icofont icofont-simple-right"></i></a></li>
						</ul>
					</div>

					<div th:replace="~{blogs/blogsfar::#right-col}"></div>
				</div>
			</div>
		</section>
		<!-- colm8 -->







		<!--页脚-->
        <div th:replace="~{blogs/blogsfar::#footer-section-all}"></div>









		<!-- my custom js -->
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.js"></script>
		<script type="text/javascript" src="js/owl.carousel.min.js"></script>

		<!-- my custom js -->
		<script type="text/javascript" src="js/custom.js"></script>

		<script type="text/javascript">
		</script>
	</body>

</html>